<?xml version="1.0" encoding="UTF-8"?>

<quiqqer>

    <settings name="ERP">
        <config>
            <section name="currency">
                <conf name="defaultCurrency">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>EUR</defaultvalue>
                </conf>
                <conf name="allowedCurrencies">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>EUR,USD,GBP,CHF</defaultvalue>
                </conf>
            </section>
        </config>


        <window name="ERP">
            <title>
                <locale group="quiqqer/currency" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="currencies" index="2">

                    <text>
                        <locale group="quiqqer/currency" var="currency.title"/>
                    </text>
                    <icon>fa fa-money</icon>

                    <settings title="currencies" name="currencies">
                        <title>
                            <locale group="quiqqer/currency" var="currency.settings.title"/>
                        </title>

                        <input conf="currency.defaultCurrency"
                               data-qui="package/quiqqer/currency/bin/settings/CurrencyList"
                        >
                            <text>
                                <locale group="quiqqer/currency" var="currency.settings.defaultCurrency.text"/>
                            </text>
                        </input>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/currency" var="currency.settings.currencyImport.text"/>
                        </title>

                        <input data-qui="package/quiqqer/currency/bin/settings/Import"/>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/currency" var="currency.settings.currencyManager.text"/>
                        </title>

                        <input conf="currency.allowedCurrencies"
                               label="false"
                               data-qui="package/quiqqer/currency/bin/settings/AllowedCurrencies"
                        />
                    </settings>
                </category>

            </categories>
        </window>

    </settings>

</quiqqer>
