/**********/
/* button */
/**********/
.quiqqer-currency-switch {
    position: relative;
    cursor: pointer;
}

.quiqqer-currency-switch.inactive {
    cursor: default;
}

.quiqqer-currency-switch-arrow {
    line-height: inherit;
    margin-left: 0.25em;
}

.quiqqer-currency-switch-sign {
    margin-right: 0.5em;
}

.quiqqer-currency-switch-display {
    display: inline;
}

/************/
/* dropdown */
/************/
.quiqqer-currency-switch-dd {
    background: #fff;
    border: 1px solid #DDDDDD;
    top: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
    min-width: 10rem;
    display: none;
}

.quiqqer-currency-switch-dd.left {
    left: 0;
}

.quiqqer-currency-switch-dd.right {
    right: 0;
}

.quiqqer-currency-switch-dd-entry {
    padding: 0.75em;
}

.quiqqer-currency-switch-dd-entry:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.quiqqer-currency-switch-dd-sign {
    min-width: 1.25em;
    display: inline-block;
    margin-right: 0.25em;
}