.quiqqer-currency-search {
    float: left;
    width: 100%;
}

.quiqqer-currency-search-form {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.quiqqer-currency-search-form [type="search"] {
    float: left;
    max-width: calc(100% - 80px);
    width: 300px;
}
